$light: #FFFFFF;
$mid: #FAF4E7;
$blue: #406D96;
$dark: #26272b;
$red: #E2474B;

.text-light {
    color: $light;
}

.text-mid {
    color: $mid;
}

.text-blue {
    color: $blue;
}

.text-dark {
    color: $dark;
}

.text-red {
    color: $red;
}

.bg-light {
    background-color: $light;
}

.bg-mid {
    background-color: $mid;
}

.bg-blue {
    background-color: $blue;
}

.bg-dark {
    background-color: $dark;
}

.bg-red {
    background-color: $red;
}