$light: #D8E8E8;
$mid: #A8D0DA;
$blue: #406D96;
$dark: #2F3A56;
$red: #E2474B;

.text-light {
    color: $light;
}

.text-mid {
    color: $mid;
}

.text-blue {
    color: $blue;
}

.text-dark {
    color: $dark;
}

.text-red {
    color: $red;
}

.bg-light {
    background-color: $light;
}

.bg-mid {
    background-color: $mid;
}

.bg-blue {
    background-color: $blue;
}

.bg-dark {
    background-color: $dark;
}

.bg-red {
    background-color: $red;
}