// Header
header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin-bottom: -70px;
    z-index: 1;
    transition: background-color 300ms ease;

    &.sticky {
        background-color: $dark;
        color: $light;

        nav {
            ul.navbar {
                li {
                    a {
                        color: $light;
                    }
                }


                li:last-of-type a {
                    border-color: $light;

                    &:hover {
                        color: $dark;
                        background-color: $light;
                    }
                }
            }
        }
    }

    #logo {
        justify-content: center;
        padding: 10px;
    }

    nav {

        #mobile-menu,
        #mobile-menu-close {
            display: none;
            padding: 10px 20px;
            font-size: 3rem;
            line-height: 1;
            justify-content: flex-end;
        }

        ul.navbar {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            padding: 15px 10px;

            li {
                display: flex;

                a {
                    padding: 12px 30px;
                    font-weight: 600;
                    cursor: pointer;
                    transition: color 200ms ease, border-color 200ms ease;
                }
            }

            li:last-of-type a {
                padding: 10px 28px;
                border: 2px solid $dark;
                transition: background-color 200ms ease;

                &:hover {
                    background-color: $dark;
                    color: white;
                    opacity: 1;
                }
            }
        }
    }
}

// Main
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    h2 {
        margin-bottom: 3rem;
    }
}

// Footer
#footer {
    background-color: $dark;
    color: $light;
    justify-content: center;
}

// Mobile

@media (max-width: 768px) {

    header {
        // position: relative;

        &.sticky nav ul.navbar {
            color: $dark;

            li a {
                color: $dark;
            }
        }

        nav {
            overflow: hidden;

            #mobile-menu {
                display: flex;
            }

            ul.navbar {
                background-color: white;
                width: 100%;
                height: 100%;
                position: fixed;
                top: 0;
                right: -100%;
                transition: right 200ms ease-in-out;
                flex-direction: column;
                justify-content: center;
                padding: 0;

                li {

                    a,
                    a:last-of-type {
                        padding: 40px 30px;
                        flex-grow: 1;
                        text-align: center;
                        border: 0;
                        font-size: 1.75rem;
                    }
                }

            }

            &.open {
                overflow: initial;

                >ul.navbar {
                    right: 0px;

                    >#mobile-menu-close {
                        display: flex;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                    }
                }
            }
        }
    }
}